[BASIC]
function-rgx=^[_a-z][a-z0-9]*((_[a-z0-9]+)*)?$
variable-rgx=^[_a-z][a-z0-9]*((_[a-z0-9]+)*)?$
argument-rgx=^[_a-z][a-z0-9]*((_[a-z0-9]+)*)?$
attr-rgx=^[_a-z][a-z0-9]*((_[a-z0-9]+)*)?$

# I: standard names for transforms in geometry: R for rotation, S for
# reflection, and I for inversion. Keep standard from geometry.
# glMatrix*: standard naming convention from OpenGL.
# GetValue, SetValue, GetId, Destroy from wxWidgets
good-names=I,glMatrix,
  C2xI,C3xI,C4xI,C5xI,
  D2xI,D3xI,D4xI,D5xI,
  C1xI,C2xI,C3xI,C4xI,C5xI,
  D1xI,D2xI,D3xI,D4xI,D5xI,
  E,C,C2nC,CxI,DnC,D,DxI,D2nD,
  __Cn_metas,__C2nCn_metas,__CnxI_metas,__DnCn_metas,
  __Dn_metas,__DnxI_metas,__D2nDn_metas,
  GetValue, SetValue, GetId, Destroy

[SIMILARITIES]
min-similarity-lines=12
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes

[MASTER]
extension-pkg-whitelist=wx

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once).You can also use "--disable=all" to
# disable everything first and then reenable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use"--disable=all --enable=classes
# --disable=W"

# Disable:
# C0103:
#   Constant name <> doesn't conform to UPPER_CASE naming style
#   Since all module level variables are supposed to be capitalized
# W0511 Don't warn about TODO, FIXME etc
# W1514 UTF-8 standard encoding is okay
disable=W0511,W1514

[DESIGN]
# Since inheriting from wx.Frame leads to 8 already
max-parents=8
max-positional-arguments=8
max-args=6
